@{
    ViewBag.Title = "Welcome to Gotcha";
}

<div class="jumbotron">
    <h1>Gotcha</h1>
    <p class="lead">Gotcha is een spel waarbij iedere deelnemer een andere deelnemer toegewezen krijgt die moet worden uitgeschakeld ("vermoord"). 
    Hoe hij dit doet en met welk moordwapen verschilt sterk van variant tot variant. Andere varianten zijn onder andere het doel een kus op de wang geven, een sticker 
    op het voorhoofd plakken of hem/haar een opdracht laten uitvoeren zonder dat hij/zij iets vermoedt. De winnaar is de laatst overgebleven speler.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>